# General - Package manager & monorepo manager
node_modules
.yarn
.turbo


# Build folders are not needed in published repo
dist
.next
build

# Env
.env.local
.env.development.local
.env.test.local
.env.production.local
.env
.dev.vars

# docs
.docusaurus
.cache-loader
test
.temp
.cache
#apps/docsNew/docs/api
apps/website/docs/api

.vscode

npm-debug.log*
yarn-debug.log*
yarn-error.log*

# beta packages ... later
node-verify

fastify-handler
